*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg,#4e085f,#800080); */
    background: url("images/background.jpg");
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: linear-gradient(150deg,#0e2732,#4cc1f3);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 35px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0e2732;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline:none;
    background: transparent;
    padding: 10px;
}
input, select, textarea {
    color: white;
    }
button{
   border: none;
   outline:none;
   padding: 16px 30px;
   background: hsl(316, 31%, 7%);
   color: #fff;
   font-size: 16px;
   cursor: pointer;
   border-radius: 40px ;
}

ul li{
    list-style: none;
    color:#fff;
    font-weight: bolder;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position:relative;
}

ul li::before{
    content:'';
    position:absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("images/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 8.5px;
    left: 8px;
}

ul li.checked{
    color: #000507;
    font-weight: bolder;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("images/checked.png");
    line-height: 40px;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #0e2732;
}